.App {
  text-align: center;
}

.AppLeft {
  float: left;
    width: 10%;

}


.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.Chat-header {
  background-color:white;
    min-height: 95vh;
  max-height: 95vh;
 width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: calc(10px + 2vmin);


}


div.containmsg{
  min-height: 90vh;
max-height: 90vh;
overflow: scroll;
  word-wrap: break-word;
   max-width: 100%;
}

div.messenger {
  font-size: calc(15px);
  min-height: 0vh;
  align-items: flex-end;

}

div.space {
  font-size: calc(10px);
  min-height: 0vh;
  align-items: flex-end;

}

p.usr {

  text-align: right;
}

.App-header1 {

  justify-content: center;

}

.App-header2 {

}


mark.comp {
  background-color: blue;
  color: black;
}


::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 20px;



 }
